body{
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;
  background-color: black;
  width: 100%;
}
body::-webkit-scrollbar{
  width: 0px;
}
*{
  box-sizing: border-box;
}
#divThree{
  width: 100%;
  min-height: 100vh;
  background-color: black;
}
section{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.titre{
  position: absolute;
  z-index: 1;
  font-family: 'Lora', serif;
  width: 100%;
  min-height:40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
  transition: ease-in-out 0.5s;
}
.titre :nth-child(1){
letter-spacing: 40px;
font-size: 8vmin;
text-transform: uppercase;
margin-bottom: 0;
color: white;
font-weight: lighter;
text-align: center;
margin-left: 1.5rem;
margin-right: 1.5rem;
}
.titre :nth-child(2){
letter-spacing: 30px;
font-size: 4vmin;
color: white;
font-weight: lighter;
text-align: center;
margin-left: 1.5rem;
margin-right: 1.5rem;
}
.cadre{
  position: absolute;
  width: 95%;
  height: 95vh;
  border: solid 5px white;
  opacity: 0.8;
  z-index: 1;
}
header{
  position: absolute;
  width: 90%;
  height: 20vh;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header p{
  color: white;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  letter-spacing: 2.5px;
  font-size: 2vmin;
  z-index: 3;
}
.portfolioGrid{
  display: none;
  position: absolute;
  width: 75vw;
  min-height: 90vh;
  grid-template-columns:1fr 1fr;
  grid-gap: 2px;
  margin-top: 2px;
  transform: translateY(100vh);
  transition: ease-in-out 1.2s;
  max-height: 100%;
}
.technologie{
  min-height: 70vh;
  width: 100%;
  position: absolute;
  max-height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  z-index: 1;
  transform: translateX(-100vw); 
  transition: ease-in-out 1.2s;
}
.technologie div{
  position: relative;
  max-width: 250px;
  height: 6rem;
  margin: 5rem;
}
.portfolioGrid a{
min-height: 50vh;
width: 37.5vw;
position: relative;
}
.portfolioGrid a canvas{
  position: absolute;
}
.portfolioGrid a:hover{
  cursor: pointer;
}
.legende-portfolio{
  position: relative;
}
.legende-portfolio p{
  color: rgba(255, 255, 255, 0.877);
 font-size: 1.2rem;
}
.legende-portfolio p:nth-child(1){
  position: absolute;
  bottom: 0;
  font-size: 5rem;
  margin: 0;
  left: 3rem;
}
.legende-portfolio p:nth-child(2){
 transform: rotate(-90deg);
 position: absolute;
 font-size: 3rem;
 margin: 0;
 right: -3rem;
bottom: 5rem;
letter-spacing: 0.5rem;
}
.legende-portfolio div:nth-child(3){
  position: absolute;
  margin: 0;
  left: 0rem;
 top: 1rem;
 width: 80px;
 height: 80px;
 }
 .legende-portfolio div:nth-child(4){
  position: absolute;
  margin: 0;
  left: 6rem;
 top: 1rem;
 width: 80px;
 height: 80px;
 }
.even p{
  color: rgba(255, 255, 255, 0.877);
 font-size: 1.2rem;
}
.even p:nth-child(1){
 position: absolute;
 bottom: 0;
 font-size: 5rem;
 margin: 0;
 right: 3rem;
}
.even p:nth-child(2){
  transform: rotate(-90deg);
  position: absolute;
  font-size: 3rem;
  margin: 0;
  left: -3rem;
 bottom: 5rem;
 letter-spacing: 0.5rem;
 text-align: center;
}
.even div:nth-child(3){
  position: absolute;
  margin: 0;
  right: 0rem;
 top: 1rem;
 width: 80px;
 height: 80px;
 }
 .even div:nth-child(4){
  position: absolute;
  margin: 0;
  right: 6rem;
 top: 1rem;
 width: 80px;
 height: 80px;
 }
.retour{
  position: absolute;
  top: 1rem;
  right: -7rem;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: black;
  box-shadow: inset 9px 9px 18px black,
              inset -9px -9px 18px black;
             color: white;
             border: none;
             transition: ease-in-out 0.5s;
             font-family: 'Lora', serif;
             border: solid 2px #e74d3c80;
}
.retour:hover{
  border-radius: 50%;
  cursor: pointer;
}
.retourTechno{
  position: relative;
  z-index: 10;
  border-radius: 5px;
  background: black;
  box-shadow: inset 5px 5px 10px black,
              inset -5px -5px 10px black;
            width: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 2px #e74d3c80;
            transition: ease-in-out 0.5s;
         
            
}
.retourTechno:hover{
  border-radius: 20%;
  cursor: pointer;

}
.retourTechno p{
  color: white;
  font-size: 1.5rem;
  font-family: 'Lora', serif;
}
/* contact */

.contact{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transform: translateY(-100vh);
  transition: ease-in-out 0.5s;
}
form{
  width: 60vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
            
}
.name{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.mid-width{
  width: 40%;
  height: 4rem;
  margin: 2rem;
  border-radius:5px;
background-color: white;
opacity: 0.8;
              color: #1e272e;
              font-family: 'Lora', serif;
              border: none;
}
.mid-width::-webkit-input-placeholder{
  color: #1e272e;
}
.long-width{
  width: 80%;
}
textarea{
  width: 85%;
height: 25rem;
resize: none;
border:none;
background-color: white;
opacity: 0.8;
  color: #1e272e;
            font-family: 'Lora', serif;
            border-radius: 5px;
              
}
textarea::-webkit-input-placeholder{
  color: #1e272e;
  font-family: 'Lora', serif;
}
.buttonContact{
border:none;
width: 20%;
height: 4rem;
margin: 2rem;
border-radius: 5px;
opacity: 0.9;
background-color:transparent;
color: white;
font-family: 'Lora', serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px solid white;
}
.buttonContact:hover{
cursor: pointer;
}
.retourContact{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
height: 4rem;
border-radius: 5px;
opacity: 0.8;
background-color: transparent;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px solid white;
}
.retourContact:hover{
  cursor: pointer;
}
.fa-linkedin,.fa-mobile{
  font-size: 4rem;
  text-decoration: none;
  color: white;
}
.link-mobile{
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
@media(max-width:1000px){
  .technologie div {
    margin: 3rem;
  }
  form{
    width: 90%;
  }
  .buttonContact{
    min-width: 250px;
  }
  .name{
    flex-direction: column;
  }
.mid-width{
  width: 90%;
  min-width: 250px;
}
textarea{
  min-width: 250px;
}
  .portfolioGrid{
    grid-template-columns:1fr;
    width: 90%;
    grid-gap: 10px;
  }
  .portfolioGrid a{
    width: 90vw;
  }
  .retour{
    right: 0;
  }
}
@media(max-width:600px){
  .technologie div {
    margin: 1.5rem;
  }
  .portfolioGrid{
    grid-template-columns:1fr;
  }
  .retour{
    right: 0.5rem;
  }
  .titre :nth-child(1),.titre :nth-child(2){
    letter-spacing: 20px;
    margin-left: unset;
    margin-right: unset;
  }
  header p{
    font-size: 3vmin;
  }
}
@media(max-width:450px){
  .titre :nth-child(2){
    letter-spacing: 10px;
  }
  form{
    margin-top: 5rem;
  }
  header{
    margin-bottom: 7rem;
  }

}