body{
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;
  background-color: black;
  width: 100%;
}
body::-webkit-scrollbar{
  width: 0px;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
#divThree{
  width: 100%;
  min-height: 100vh;
  background-color: black;
}
section{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.titre{
  position: absolute;
  z-index: 1;
  font-family: 'Lora', serif;
  width: 100%;
  min-height:40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
  transition: ease-in-out 0.5s;
}
.titre :nth-child(1){
letter-spacing: 40px;
font-size: 8vmin;
text-transform: uppercase;
margin-bottom: 0;
color: white;
font-weight: lighter;
text-align: center;
margin-left: 1.5rem;
margin-right: 1.5rem;
}
.titre :nth-child(2){
letter-spacing: 30px;
font-size: 4vmin;
color: white;
font-weight: lighter;
text-align: center;
margin-left: 1.5rem;
margin-right: 1.5rem;
}
.cadre{
  position: absolute;
  width: 95%;
  height: 95vh;
  border: solid 5px white;
  opacity: 0.8;
  z-index: 1;
}
header{
  position: absolute;
  width: 90%;
  height: 20vh;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header p{
  color: white;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  letter-spacing: 2.5px;
  font-size: 2vmin;
  z-index: 3;
  transition: ease-in-out 0.5s;
  position: relative;
  padding: 1rem;

}
header p:hover{
cursor: pointer;
}
/*span*/
.spanHoverUp{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 2px;
  object-fit: cover;
  left:0;
  top: 0;
  transform-origin: left;
  transition: ease-in-out 0.5s;
  transform: scaleX(0);
  opacity: 0.5;
}
.spanHoverDown{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 2px;
  object-fit: cover;
  left:0;
  bottom: 0;
  transform-origin: right;
  transition: ease-in-out 0.5s;
  transform: scaleX(0);
  opacity: 0.5;
}
header p:nth-child(1):hover{
  letter-spacing: 4px;
  }
  header p:nth-child(1):hover .spanHoverUp{
    transform: scaleX(1);
    transform-origin: left;
    transition: ease-in-out 0.5s;
    }
    header p:nth-child(1):hover .spanHoverDown{
      transform: scaleX(1);
      transform-origin: right;
      transition: ease-in-out 0.5s;
      }
      header p:nth-child(2):hover .spanHoverUp{
        transform: scaleX(1);
        transform-origin: left;
        transition: ease-in-out 0.5s;
        }
        header p:nth-child(2):hover .spanHoverDown{
          transform: scaleX(1);
          transform-origin: right;
          transition: ease-in-out 0.5s;
          }
          header p:nth-child(3):hover .spanHoverUp{
            transform: scaleX(1);
            transform-origin: left;
            transition: ease-in-out 0.5s;
            }
            header p:nth-child(3):hover .spanHoverDown{
              transform: scaleX(1);
              transform-origin: right;
              transition: ease-in-out 0.5s;
              }
  header p:nth-child(2):hover{
    letter-spacing: 4px;
    }
    header p:nth-child(3):hover{
      letter-spacing: 4px;
      }

      /*span*/
      /*grid*/
      .portfolioGrid{
        margin-top: 2rem;
        display: none;
        position: absolute;
        width: 85vw;
        min-height: 90vh;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        transform: translateY(100vh);
        transition: ease-in-out 1.2s;
        max-height: 100%;
        grid-template-areas:"metis metis weather"
                            "metis metis weather"
                            "communart community community"
                            "communart community community"
                            "cyberpunk cyberpunk cyberpunk"
                            "cyberpunk cyberpunk cyberpunk"
                            "zelda bloom bloom";
      }

      .image{
        grid-area: metis;
      }
      .image1{
        grid-area: weather;
      }
      .image2{
        grid-area: communart;
      }
      .image3{
        grid-area: community;
      }
      .image4{
        grid-area: bloom;
      }
      .image5{
        grid-area: zelda;
      }
      .image6{
        grid-area: cyberpunk;
      }
      .portfolioGrid a{
        position: relative;
    
      }
      .portfolioGrid a canvas{
        position: absolute;
        border: 1px solid white;
      }
      .portfolioGrid a:hover{
        cursor: pointer;
      }
      .portfolioGrid a{
        min-height: 50vh;
        position: relative;
        }
        .portfolioGrid .image6{
          min-height: 70vh;
        }

  /*grid*/
.technologie{
  min-height: 70vh;
  width: 100%;
  position: absolute;
  max-height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  z-index: 1;
  transform: translateX(-100vw); 
  transition: ease-in-out 1.2s;
}
.technologie div{
  position: relative;
  max-width: 250px;
  height: 6rem;
  margin: 5rem;
}
.retour{
  position: absolute;
  top: 1rem;
  right: -7rem;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: black;
  box-shadow: inset 9px 9px 18px black,
              inset -9px -9px 18px black;
             color: white;
             border: none;
             transition: ease-in-out 0.5s;
             font-family: 'Lora', serif;
             border: solid 2px white;
}
.retour:hover{
  border-radius: 50%;
  cursor: pointer;
}
.retourTechno{
  position: relative;
  z-index: 10;
  border-radius: 5px;
  background: black;
  box-shadow: inset 5px 5px 10px black,
              inset -5px -5px 10px black;
            width: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 2px white;
            transition: ease-in-out 0.5s;
         
            
}
.retourTechno:hover{
  border-radius: 20%;
  cursor: pointer;

}
.retourTechno p{
  color: white;
  font-size: 1.5rem;
  font-family: 'Lora', serif;
}
/* contact */

.contact{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transform: translateY(-100vh);
  transition: ease-in-out 0.5s;
}

.contact-cadre{
width: 60vw;
min-width: 900px;
min-height: 60vh;
background-color: white;
position: relative;
display: flex;
flex-direction: row;
flex-wrap: wrap;
opacity: 0.9;
border-radius: 5px;
}
.right-contact{
  flex: 0.6;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.text-right{
  font-family: 'Lora', serif;
  letter-spacing: 4px;
  font-size: 2rem;
}
.text-right p:nth-child(2){
 color: rgba(0, 0, 0, 0.76);
}
.text-right p:nth-child(3){
  color: #2980b9;
  font-size: 1.5rem;
 }
.fa-location-dot{
  color: #2980b9;
  font-size: 3rem;
}
.left-contact{
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.button-contact-form{
height: 80px;
width: 70%;
background-color: #2980b9;
margin: 1rem;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
transition: ease-in-out 0.5s;
}
.button-contact-form:hover{
 transform:scale(1.1);
}
.contact-me{
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}
.mail{
  background-color: rgba(0, 0, 0, 0.76);
}
.fa-paper-plane,.fa-phone-volume{
  color: white;
  font-size: 2rem;
  margin-right: 1.5rem;
}
.retourContact{
position: absolute;
top: 1rem;
right: 1rem;
width: 5rem;
height: 4rem;
border-radius: 5px;
opacity: 0.8;
background-color: transparent;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px solid white;
}
.retourContact:hover{
  cursor: pointer;
}

@media (max-width:1440px) {
  .retour{
    right: 0;
  } 
  .technologie div{
    margin: 3rem;
  }
}
@media (max-width:1280px) {
 
  .technologie div{
    margin: 2rem;
  }
}
@media(max-width:1024px){
  .technologie div {
    margin: 3rem;
  }
  .name{
    flex-direction: column;
  }
.mid-width{
  width: 90%;
  min-width: 250px;
}
.portfolioGrid{
  width: 95vw;
}
.portfolioGrid a{
  min-height: 30vh;
} 
.portfolioGrid .image6{
  min-height: 30vh;
} 
  .retour{
    right: 0;
  }
}
@media (max-width:900px) {
  .contact-cadre{
    min-width: unset;
    flex-direction: column;
    width: 80%;
    min-height: 75vh;
  }
  .text-right{
    text-align: center;
  }
}
@media(max-width:600px){
  .technologie div {
    margin: 1.5rem;
  }
  .portfolioGrid{
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"metis"
                        "weather"
                        "communart"
                        "community"
                        "cyberpunk"
                        "zelda"
                        "bloom";
  }

  .retour{
    right: 0.5rem;
  }
  .titre :nth-child(1),.titre :nth-child(2){
    letter-spacing: 20px;
    margin-left: unset;
    margin-right: unset;
  }
  header p{
    font-size: 3vmin;
  }
}
@media (max-width:481px) {
  .technologie div{
    margin: 4rem;
  }
  .text-right{
    font-size: 1.2rem;
  }
  .text-right p:nth-child(3){
    font-size: 1rem;
  }
  .contact-cadre{
    min-height: 60vh;
  }
}
@media(max-width:450px){
  .titre :nth-child(2){
    letter-spacing: 10px;
  }
  header{
    margin-bottom: 7rem;
  }

}